/*** フォーム ***/
/* 位置調整 */
.card {
    margin-top: 40px;
}
.card-body {
    background: whitesmoke;
}

/* 文字色 */
label.required {
    color: #ef5f5f;
    padding-left: 10px;
    font-size: 0.9rem;
}

/* 保存ボタン */
div#entryMessage {
    color: #0006ff;
}

/*** 設定完了アラート ***/
.alert-success {
    display: inline-block;
}

/**** 画像 ****/
/* 全体 */
div#icon {
    padding-top: 15px;
}
/* telloロゴ */
img#tello_icon {
    width: 20%;
}
/* クロスロゴ1 */
span.closeLogo {
    padding-left: 20px;
}
img.close_logo {
    width: 5%;
}

/* kintoneロゴ */
span.kintoneLogo {
    padding-left: 10px;
}

img#kintone_icon {
    width: 30%;
}

/* クロスロゴ2 */
span.closeMark {
    padding-left: 10px;
}
img.close_mark {
    width: 5%;
}

/* gecロゴ */
span.gecLogo {
    padding-left: 10px;
}
img#gec_icon {
    width: 30%;
}