
/*** フォーム ***/
/* 位置調整 */
.card {
    margin-top: 40px;
}
/* 文字色 */
label.required {
    color:#f00;
    padding-left: 10px;
}
/* 保存ボタン */
div#entryMessage {
    color:#0006ff;
}

/**** 画像 ****/
/* サイズ */
img#gecreativeIcon {
    width: 60%;
}
/* 位置 */
div#icon {
    padding-top: 15px;
}