<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>アプリ情報入力</title>

    <!-- BootStrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>kintoneアプリ情報入力</h1>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">フォーム</div>
                        <label for="domainName">ドメイン名
                            <span class="label label-danger">※必須項目</span>
                        </label>
                        <input type="text" class="form-control id="domainName" autocomplete="off" required></input>

                        <label for="appId">アプリID
                            <span class="label label-danger">※必須項目</span>
                        </label>
                        <input type="number" class="form-control id="appId" autocomplete="off" required></input>

                        <label for="apiToken">APIトークン
                            <span class="label label-danger">※必須項目</span>
                        </label> 
                        <input type="text" class="form-control id="apiToken" autocomplete="off" required></input>
                        <br>

                        <!-- 検索ボタン -->
                        <div class="col-md-12 clearfix">
                            <!-- 検索ボタン -->
                            <div class="float-right">
                                <input type="button" id="entryButton" class="btn btn-outline-primary" name="button_type" value="登録" onclick="entry();"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>