<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>アプリ情報入力</title>

    <!-- BootStrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- css -->
    <link rel="stylesheet" href="../stylesheet/style.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">kintoneアプリ情報</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Telloの情報を送信する対象アプリの情報を設定してください</h6>
                        <form action="http://127.0.0.1:8001/setting" method="GET">
                            <!-- ドメインネーム -->
                            <div class="form-group" id="domainName">
                                <span><label>ドメインネーム</label><label class="required">※必須項目</label></span>
                                <input type="text" class="form-control" placeholder="https://(この部分).cybozu.com/~" name="kintoneSubDomainName"required>
                            </div>
                            <!-- アプリID -->
                            <div class="form-group">
                                <span><label>アプリID</label><label class="required">※必須項目</label></span>
                                <input type="text" class="form-control" placeholder="対象アプリのIDを入力してください" name="kintoneAppId"required>
                            </div>
                            <!-- APIトークン -->
                            <div class="form-group">
                                <span><label>APIトークン</label><label class="required">※必須項目</label></span>
                                <input type="text" class="form-control" placeholder="上記アプリのAPIトークンを入力してください" name="kintoneAPIToken"required>
                            </div>
                            <div>
                                <!-- 登録後アラート -->
                                <p class="alert alert-success col-md-10" role="alert" id="entryMessage">
                                </p>
                                <!-- 送信ボタン -->
                                <button type="submit" class="float-right btn btn-outline-success" onclick="complet();">保 存</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="icon">
                    <!-- telloロゴ -->
                    <span class="text-left">
                        <img src="../build/img/tello_logo.png" id="tello_icon">
                    </span>
                    <!-- ✕ロゴ -->
                    <span class="closeLogo">
                        <img src="../build/img/close_logo.png" class="close_logo">
                    </span>
                    <!-- kintoneロゴ -->
                    <span class="text-center kintoneLogo">
                        <img src="../build/img/kintone_logo.png" id="kintone_icon">
                    </span>
                    <!-- ✕ロゴ -->
                    <span class="closeMark">
                        <img src="../build/img/close_logo.png" class="close_mark">
                    </span>
                    <!-- gecロゴ -->
                    <span class="text-right gecLogo">
                        <img src="../build/img/gec_logo.png" id="gec_icon">
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function complet() {
        /**** 入力値の取得 ****/
        // ドメイン名
        var domain = document.getElementsByName("kintoneSubDomainName")[0].value
        // アプリID
        var appId = document.getElementsByName("kintoneAppId")[0].value
        // APIトークン
        var apiToken = document.getElementsByName("kintoneAPIToken")[0].value

        if (domain && appId && apiToken) {
            console.log("success")
            // 保存ボタン隣にアラートメッセージを出す
            var elem = document.getElementById("entryMessage");
            elem.innerHTML = "設定完了しました。 scratchからドローン操作を行ってください"
        }
    }
</script>

</html>